.write {
	padding-top: 70px;
	padding-bottom: 102px;
}

.write-column{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
}

.write-heading {
	position: relative;
	z-index: 1;
	
	max-width: 668px;
	margin-bottom: -100px;

	h1{
		@media (max-width: 486px) {
			font-size: 40px;
		}

		@media (max-width: 386px) {
			font-size: 32px;
		}

		@media (max-width: $min-width) {
			font-size: 27px;
		}
	}
}

.write-discuss {
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 150%;
	color: $primary-color;
		
}


.write-discuss-href{
	position: relative;
	z-index: 0;
	
	display: block;
	width: 260px;
	height: 260px;
	border-radius: 50%;
	background-color: $secondary-color;
	padding: 118px 51px;

	transition: background-color 0.2s ease-in;

	&:hover{
		background-color: purple;
	}
}


